body
{
	font-family: "Roboto" sans-serif;
}

header{

	height: 100px;
	width: 100%;
	background: gray;
	position: fixed;
	top:0;
	z-index: 50;
}



#wrapper 
{
	width: 98%;
	margin: 0;
	
}


/*display div*/
#googleMap 
{

	width: 70%;
	height: 600px;
	margin-top: 100px;
}

#js-geolocation {
	position: absolute;
	left:105px; top: 96%;
	background: #08c;
	color: rgba(37, 51, 44, 1);
	font-weight: bold;
	border: none;
	cursor: pointer;
	height: 5%;
}

#daily_forecast {
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
	color: white;
	float: right;
	margin-top: 3%;
	margin-right: 10px;
	text-decoration: none;
}

nav ul:hover {
	text-decoration: solid;
	border: 1px dashed lightblue;
}

#weather {
	
	position: fixed;
	left: 9px; top: 8%;
	z-index: 90;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	background: skyblue;
	border-radius: 10px;
	width: 50%;
	text-align: center;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.05em;
	color: white;
	position: fixed;
	top: 2%;
	left: 10%;
	z-index: 95;
}

.temp_value  {
		font-size: .85em;

}

ul {
	margin-top: 0%;
}

li{
		display: inline-block;
		list-style: none;
		padding: 0 10px;
	}

#icon
{
	padding-top: 50px;
}

#icon img{
	height: 24px;
}
.update>li{
	margin:2%;
}


#forecast {
	background: url('../img/weather.png') no-repeat;
	background-size: cover;
	margin-top:2%; 
}

.anchortag {
	position: absolute;
	margin-right: 10%;
}
.special{

	margin-top: 3%;
}